<nav class="navbar bg-black border-bottom border-body" data-bs-theme="dark">
        <div class="container">
                <a href="/" class="navbar-brand">CRUD Nodejs y Mongodb</a>
        </div>
</nav>